/*
* Style
*/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;

}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 100%;
    height: 250px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}


/*
* Google font
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto");


/*
* Section - Home
*/

/** BG Image */
#home {
    background-image: url("../images/bg-home-1.jpg");
}

/** BG Parallax */
#home-bg-parallax > .bg-parallax {
    background: url("../images/bg-parallax.jpg");
}

/** BG Slideshow */
#home-bg-slideshow .slides > .bg-cover:nth-child(1) {
    background: url("../images/bg-home-1.jpg");
}
#home-bg-slideshow .slides > .bg-cover:nth-child(2) {
    background: url("../images/bg-home-2.jpg");
}
#home-bg-slideshow .slides > .bg-cover:nth-child(3) {
    background: url("../images/bg-home-3.jpg");
}
#home-bg-slideshow > .position-absolute {
    z-index: 20;
}

/** BG Video */
#home-bg-video .player:before {
    z-index: 15;
}
#home-bg-video .player.is-mobile {
    display: none;
}
#home-bg-video .container {
    position: relative;
    z-index: 20;
}


/*
* Section - Fun Facts
*/

#fun-facts {
    background-image: url("../images/bg-fun-facts.jpg");
}


/*
* Section - Skills
*/

#skills {
    background-image: url("../images/bg-skills.jpg");
}


/*
* Section - Quote
*/

#quote {
    background-image: url("../images/bg-quote.jpg");
}


/*
* Section - Keep In Touch
*/

#keep-in-touch {
    background-image: url("../images/bg-keep-in-touch.jpg");
}


/*
* Section - Coming Soon
*/

#coming-soon {
    background-image: url("../images/bg-coming-soon.jpg");
}


/*
* Section - Contact
*/

#contact {
    background-image: url("../images/bg-contact.jpg");

}


/*
* Footer
*/

.footer-logo {
    max-height: 40px;
}
.footer-icon-social {
    bottom: 10px;
    position: relative;
}